{%- if section.settings.html != blank -%}
  <style>
    #shopify-section-{{ section.id }} {
      {% if section.settings.remove_vertical_spacing %}--section-spacing-block: 0px;{% endif %}
      {% if section.settings.remove_horizontal_spacing %}--section-spacing-inline: 0px;{% endif %}
    }
  </style>

  {%- render 'section-spacing-collapsing' -%}

  <div {% render 'section-properties' %}>
    {{ section.settings.html }}
  </div>

 <script>
   
    function reveal() {
      var reveals = document.querySelectorAll(".reveal");
      for (var i = 0; i < reveals.length; i++) {
        var windowHeight = window.innerHeight;
        var elementTop = reveals[i].getBoundingClientRect().top;
        var elementVisible = 150;
        if (elementTop < windowHeight - elementVisible) {
          reveals[i].classList.add("active");
        } else {
          reveals[i].classList.remove("active");
      }
    }
   }

   window.addEventListener("scroll", reveal);

  // To check the scroll position on page load
  reveal();
   
  </script>

      {% if page.url contains "/sustainability"  %}
        
      <div class="custom-html-container1">
        <h3 class="h3" id="custom-html-big-title"> Made with Care </h3>
      </div>
      
      <div class="custom-html-container2">
        <div class= "custom-html-left-container reveal">
            <img id="custom-html-image" src="https://cdn.shopify.com/s/files/1/2490/1254/files/steven-weeks-DUPFowqI6oI-unsplash_1.jpg?v=1677279712"/>
            <div id="custom-html-small-container">
            <h4 class="h4" id="custom-html-title">Carbon Footprint</h4>
            <p class="custom-html-content"> As with almost all products in our life, we have a carbon footprint. To offset our carbon and promote sustainability in a business, we have partnered up with ONE TREE PLANTED, a 501(c)(3) non-profit organization. One Tree Planted is on a mission of global reforestation to help repair the damage caused by industry and resource extraction. Trees help clean the air we breathe, filter the water we drink, and provide habitat for over 80% of the world's terrestrial biodiversity. This is our One-Tree-Per-Order Pledge. </p>
          </div>  
      </div>
    
        <div class= "custom-html-right-container reveal">
          <img id="custom-html-image" src="https://cdn.shopify.com/s/files/1/2490/1254/files/03_1.png?v=1677279805"/>
          <div id="custom-html-small-container">
          <h4 class="h4" id="custom-html-title">Our Materials</h4>
          <p class="custom-html-content"> Currently, our scrubs are made from Tencel™ blend fabric, consisting of 67% Tencel™, 30% recycled polyester, and 3% spandex. Tencel™ is a fiber made from the wood chips of responsibly harvested trees. The wood chips go through a closed-loop process, in which 99% of the solvent is recovered, purified, and reused. This cycle uses less water and energy than most other conventional fibers.</p>
          </div>  
        </div>
      </div>

      {% else %}

      <div class="custom-image-banner-container">
        <img class="custom-image-banner-image-1" src="https://cdn.shopify.com/s/files/1/2490/1254/files/2021-08-18_MEDICLO_15420_4X5_1.jpg?v=1678130277"/>
        <p>TENCEL</p>
        <img class="custom-image-banner-image-2" src="https://cdn.shopify.com/s/files/1/2490/1254/files/mediclo_crevan_nvy_fysel_4x5_01.jpg?v=1678130490"/>
      </div>
        
      {% endif %}


{%- endif -%}

{% schema %}
{
  "name": "Custom HTML",
  "class": "shopify-section--custom-html",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "remove_vertical_spacing",
      "label": "Remove vertical spacing",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_horizontal_spacing",
      "label": "Remove horizontal spacing",
      "default": false
    },
    {
      "type": "html",
      "id": "html",
      "label": "HTML",
      "default": "<p style=\"text-align: center\">Write or copy/paste HTML code</p>"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Custom HTML"
    }
  ]
}
{% endschema %}
