{%- if section.settings.html != blank -%}
  <style>
    #shopify-section-{{ section.id }} {
      {% if section.settings.remove_vertical_spacing %}--section-spacing-block: 0px;{% endif %}
      {% if section.settings.remove_horizontal_spacing %}--section-spacing-inline: 0px;{% endif %}
    }
  </style>

  {%- render 'section-spacing-collapsing' -%}

  <div {% render 'section-properties' %}>
    {{ section.settings.html }}
  </div>

  <div class="custom-html-container">
    <h3 class="h3"> Made With Care </h3>

    <div>
    <p> As with almost all products in our life, we have a carbon footprint. To offset our carbon and promote sustainability in a business, we have partnered up with ONE TREE PLANTED, a 501(c)(3) non-profit organization. One Tree Planted is on a mission of global reforestation to help repair the damage caused by industry and resource extraction. Trees help clean the air we breathe, filter the water we drink, and provide habitat for over 80% of the world's terrestrial biodiversity. This is our One-Tree-Per-Order Pledge. </p>
    <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/02_1512x.png?v=1632942014"></img>
    </div>
  </div>


{%- endif -%}

{% schema %}
{
  "name": "Custom HTML",
  "class": "shopify-section--custom-html",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "remove_vertical_spacing",
      "label": "Remove vertical spacing",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_horizontal_spacing",
      "label": "Remove horizontal spacing",
      "default": false
    },
    {
      "type": "html",
      "id": "html",
      "label": "HTML",
      "default": "<p style=\"text-align: center\">Write or copy/paste HTML code</p>"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Custom HTML"
    }
  ]
}
{% endschema %}
