{%- if section.settings.liquid != blank -%}
  {%- render 'section-spacing-collapsing' -%}
  


  <style>
    #shopify-section-{{ section.id }} {
      {% if section.settings.remove_vertical_spacing %}--section-spacing-block: 0px;{% endif %}
      {% if section.settings.remove_horizontal_spacing %}--section-spacing-inline: 0px;{% endif %}
    }
  </style>

<!--   <div {% render 'section-properties' %}>
    {{ section.settings.liquid }}
  </div> -->


{%if collection.url contains "women-sale-collection"%}
<div class="custom-liquid-container">
  <h2>Women's Scrub Tops</h2>
    <div class="custom-liquid-image-container">
      <a href="/collections/womens-tree-scrub-top?filter.p.product_type=Sal" style="display: inline-block; margin-bottom: 30px;">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/Sal.png?v=1675379662" class="custom-liquid-image" id="custom-liquid-image-1"/>
        <span class="custom-liquid-text" style="font-weight: bold;" id="custom-liquid-text-1">Sal Essential Scrub Top</span>
      </a>
      <a href="/collections/womens-tree-scrub-top?filter.p.product_type=Amelia" style="display: inline-block; margin-bottom: 30px;">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/Amelia.png?v=1675379661" class="custom-liquid-image" id="custom-liquid-image-2"/>
        <span class="custom-liquid-text" style="font-weight: bold;" id="custom-liquid-text-2">Amelia Fitted Scrub Top</span>
      </a>
      <a href="/collections/womens-tree-scrub-top?filter.p.product_type=Capri" style="display: inline-block; margin-bottom: 30px;">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/Capri.png?v=1675379661" class="custom-liquid-image" id="custom-liquid-image-3" />
        <span class="custom-liquid-text" style="font-weight: bold;" id="custom-liquid-text-3">Capri Collared Scrub Top</span>
      </a>
      <a href="/collections/womens-tree-scrub-top?filter.p.product_type=Kauai" style="display: inline-block; margin-bottom: 30px;">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/Kauai.png?v=1675379661" class="custom-liquid-image" id="custom-liquid-image-4" />
        <span class="custom-liquid-text" style="font-weight: bold;" id="custom-liquid-text-4">Kauai Scrub Top</span>
      </a>
      <a href="/collections/womens-tree-scrub-top?filter.p.product_type=Lanai" style="display: inline-block; margin-bottom: 30px;">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/Lanai.png?v=1675379662" class="custom-liquid-image" id="custom-liquid-image-5" />
        <span class="custom-liquid-text" style="font-weight: bold;" id="custom-liquid-text-5">Lanai Rib Band Scrub Top</span>
      </a>
      <a href="/collections/womens-tree-scrub-top?filter.p.product_type=Fiji" style="display: inline-block; margin-bottom: 30px;">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/Fiji.png?v=1675379661" class="custom-liquid-image" id="custom-liquid-image-6" />
        <span class="custom-liquid-text" style="font-weight: bold;" id="custom-liquid-text-6">Fiji Banded Collar Scrub Top</span>
      </a>
      <a href="/collections/womens-tree-scrub-top?filter.p.product_type=Kos" style="display: inline-block; margin-bottom: 30px;">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/Kos.png?v=1675379662" class="custom-liquid-image" id="custom-liquid-image-7" />
        <span class="custom-liquid-text" style="font-weight: bold;" id="custom-liquid-text-7">Kos Long Sleeve Underscrub</span>
      </a>
  </div>
</div>
{% elsif collection.url contains "shop-women-pants"%}
<div class="custom-liquid-container">
  <h2>Women's Scrub Bottoms</h2>
    <div class="custom-liquid-image-container">
      <a href="/collections/shop-women-pants?filter.p.product_type=Bali" style="display: inline-block; margin-bottom: 30px;">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/Bali.png?v=1675379647" class="custom-liquid-image" style="display: block"/>
        <span class="custom-liquid-text" style="display: block; font-weight: bold;">Bali Bootcut Scrub Pants</span>
      </a>
      <a href="/collections/shop-women-pants?filter.p.product_type=Catalina" style="display: inline-block; margin-bottom: 30px;">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/Catalina.png?v=1675379648" class="custom-liquid-image" style="display: block"/>
        <span class="custom-liquid-text" style="display: block; font-weight: bold;">Catalina Jogger Scrub Pants</span>
      </a>
      <a href="/collections/shop-women-pants?filter.p.product_type=Sicily" style="display: inline-block; margin-bottom: 30px;">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/Sicily.png?v=1675379647" class="custom-liquid-image" style="display: block"/>
        <span class="custom-liquid-text" style="display: block; font-weight: bold;">Sicily Pintuck Tapered Scrub Pants</span>
      </a>
      <a href="/collections/shop-women-pants?filter.p.product_type=Jura" style="display: inline-block; margin-bottom: 30px;">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/Jura.png?v=1675379647" class="custom-liquid-image" style="display: block"/>
        <span class="custom-liquid-text" style="display: block; font-weight: bold;">Jura Slim Fit Scrub Pants</span>
      </a>
     <a href="/collections/shop-women-pants?filter.p.product_type=Kume" style="display: inline-block; margin-bottom: 30px;">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/Kume.png?v=1675379648" class="custom-liquid-image" style="display: block"/>
        <span class="custom-liquid-text" style="display: block; font-weight: bold;">Kume Scrub Pants</span>
      </a>
  </div>
</div>
{% elsif collection.url contains "shop-mens-top"%}
<div class="custom-liquid-container">
  <h2>Men's Scrub Tops</h2>
    <div class="custom-liquid-image-container">
      <a href="/collections/shop-mens-top?filter.p.product_type=Crevan" style="display: inline-block; margin-bottom: 30px;">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/KakaoTalk_Photo_2023-02-01-16-44-28_001.png?v=1675298698" class="custom-liquid-image" style="display: block"/>
        <span class="custom-liquid-text" style="display: block; font-weight: bold;">Crevan Essential Scrub Top</span>
      </a>
      <a href="/collections/shop-mens-top?filter.p.product_type=Fraser" style="display: inline-block">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/KakaoTalk_Photo_2023-02-01-16-44-30_002.png?v=1675298697" class="custom-liquid-image" style="display: block"/>
        <span class="custom-liquid-text" style="display: block; font-weight: bold;">Fraser Collar Scrub Top</span>
      </a>
      <a href="/collections/shop-mens-top?filter.p.product_type=Hamilton" style="display: inline-block">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/KakaoTalk_Photo_2023-02-01-16-44-31_003.png?v=1675298698" class="custom-liquid-image" style="display: block"/>
        <span class="custom-liquid-text" style="display: block; font-weight: bold;">Hamilton Ribband Scrub Top</span>
      </a>
      <a href="/collections/shop-mens-top?filter.p.product_type=Skye" style="display: inline-block">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/KakaoTalk_Photo_2023-02-01-16-44-31_004.png?v=1675298698" class="custom-liquid-image"style="display: block"/>
        <span class="custom-liquid-text" style="display: block; font-weight: bold;">Skye Banded Collar Scrub Top</span>
      </a>
  </div>
</div>
{% elsif collection.url contains "shop-mens-pants"%}
<div class="custom-liquid-container">
  <h2>Men's Scrub Bottoms</h2>
    <div class="custom-liquid-image-container">
      <a href="/collections/shop-mens-pants?filter.p.product_type=Sable" style="display: inline-block; margin-bottom: 30px;">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/Sable.png?v=1675379608" class="custom-liquid-image" style="display: block"/>
        <span class="custom-liquid-text" style="display: block; font-weight: bold;">Sable Tapered Scrub Pants</span>
      </a>
      <a href="/collections/shop-mens-pants?filter.p.product_type=Kodiak" style="display: inline-block; margin-bottom: 30px;">
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/Kodiak.png?v=1675379608" class="custom-liquid-image" style="display: block"/>
        <span class="custom-liquid-text" style="display: block; font-weight: bold;">Kodiak Jogger Scrub Pants</span>
      </a>  
  </div>
</div>
{% endif %}


  
{%- endif -%}

{% schema %}
{
  "name": "Custom Liquid",
  "class": "shopify-section--custom-liquid",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "remove_vertical_spacing",
      "label": "Remove vertical spacing",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_horizontal_spacing",
      "label": "Remove horizontal spacing",
      "default": false
    },
    {
      "type": "liquid",
      "id": "liquid",
      "label": "Liquid",
      "info": "Add app snippets or other Liquid code to create advanced customizations.",
      "default": "<p style=\"text-align: center\">Write or copy/paste Liquid code</p>"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Custom Liquid"
    }
  ]
}
{% endschema %}
