<div class="container">
  <div class="page-spacer">
    <div class="page">
<!--       <h1 class="h1 text-center">{{ page.title }}</h1> -->
     {% if page.url contains "/mediclo-intro" %}
      <div class="page-container">
        <h4 class="h4">We are Mediclo</h4>
        <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/2021-05-12_MEDICLO_1759_1.jpg?v=1677284467"/>
      </div>
     {% endif %}
     
      {%- if page.content != empty -%}
        <div class="prose">
          {{ page.content }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page",
  "class": "shopify-section--main-page",
  "tag": "section"
}
{% endschema %}