<div class="page-container">
  <div class="page-spacer">
    <div class="page">
<!--       <h1 class="h1 text-center">{{ page.title }}</h1> -->
     {% if page.url contains "/mediclo-intro" %}
      <div class="page-small-container">
      <p class="page-text"> Hi, we are Mediclo, a medical apparel brand that cares about the planet. Although Earth Month is coming to a close, we pledge to continue treating every month as Earth Month. We're committed to improving the life cycle of our products and offering easy, practical ways to help healthcare professionals live more eco-friendly lifestyles. Sustainability continues to remain our top priority. We will continue to learn new and better ways to improve throughout the entire life cycle of our products. From ethical practices in our factory, the transportation of our goods, to even packaging, we truly care.As a start-up company, we cannot begin to express our gratitude to the community of people who support us. Because of loyal customers, such as yourselves, we can continue thriving and improving. Your continued support helps and encourages us as we become more sustainable without compromising our commitment to quality, comfort, or style. Thank you. We appreciate you.</p> 
      </div>

      <div class="page-small-container2">
      <div class="page-left-container">
      <img src="https://cdn.shopify.com/s/files/1/2490/1254/files/2021-05-12_MEDICLO_1759_3_1.jpg?v=1677542834"/>
      </div>
      <div class="page-right-container">
      <p> Mediclo's journey began in the summer of 2017. Our founder, who has worked in the medical field for over 25 years, felt the need for a more comfortable and stylish line medical apparel. He saw his peers trapped in restricting scrubs that never fit right. We desired to make modern, eco-friendly, and comfortable scrubs while also empowering healthcare professionals with the confidence of knowing they can feel good while looking good. Through this passion for innovative medical apparel and sustainability, Mediclo was founded and has grown ever since. The medical field is full of disposables in order to keep everything sterile and to keep people safe. This can often lead to a guilt about all the waste being made. We wanted to give healthcare professionals a way to make more sustainable choices in other aspects of their careers. Mediclo strives to be a guide for all medical professionals to live a more sustainable life.</p>
      </div>
      </div>
     {% endif %}
     
      {%- if page.content != empty -%}
        <div class="prose">
          {{ page.content }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page",
  "class": "shopify-section--main-page",
  "tag": "section"
}
{% endschema %}